.log-turns {
  max-width: 50rem;
  color: #ffff;
  list-style: none;
  margin: 0 auto 30px;
  padding: 0;
  font-size: 1.5rem;
}

.log-turns li {
  border-radius: 0.7rem;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  margin: 0 0 2rem 0;
  padding: 1rem 1.5rem;
  border: 2px solid #ffff;
  background: linear-gradient(20deg, #a753c3, #190432);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  box-shadow:
    0 0 8px #ffffff,
    0 0 28px #e02eff,
    0 0 16px #ffffff;
  position: relative;
}

.log-turns p {
  text-align: start;
  font-weight: bold;
  margin-bottom: 5px;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.log-turns-empty {
  color: #ffff;
  font-family: "Courier New", Courier, monospace;
  padding: 5px 10px;
  max-width: 400px;
  margin: 0 auto 20px;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.log-turns-title {
  color: #ffff;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border-bottom: 3px solid #ffff;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 300px;
  margin: 0 auto 20px;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 900px) {
  .log-turns {
    width: 80%;
    color: #ffff;
    list-style: none;
    margin: 0 auto 30px;
    padding: 0;
    font-size: 1.5rem;
  }
  .log-turns li {
  margin: 0 0 1.8rem 0;
  padding: 1rem 1.5rem;
  font-size: 17px;
}
}

@media screen and (max-width: 600px) {
  .log-turns-empty {
    margin: 0 auto 40px;
    font-size: 15px;
  }

  .log-turns p {
  text-align: start;
  font-weight: 900;
  margin-bottom: 5px;
}
}

@media screen and (max-width: 505px) {
  .log-turns {
    width: 70%;
    color: #ffff;
    list-style: none;
    margin: 0 auto 30px;
    padding: 0;
    font-size: 1.5rem;
  }

  .log-turns p {
    border-bottom: 2px solid #ffff;
    max-width: 100%;
  }

  .log-turns-empty {
    margin: 0 auto 50px;
    font-size: 13px;
  }
}
